.pList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.pListImg{
    object-fit: cover;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}
.pListItem{
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    width : 250px;
}
.pListTitles>h1{
    font-size: 18px;
    margin-bottom: 0px;
}
.pListTitles>h2{
    font-size: 14px;
    margin-top: 0px;
}